html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(53, 53, 53, 1);
}

#output-div{
  position: relative;
  display: inline-block;
}

#highlight-div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: red;
}