html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(53, 53, 53, 1);
}


#output-div{
  position: relative;
  display: inline-block;
}

#page-container{
  width: 100%;
  height: 100%;
}

#highlight-div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: red;
}

#input-canvas{
  display: none;
}

#info{

}

#output-text-div{
  width: 100%;
  display: none;
  overflow: scroll;
}